body {
 background : #D3FAD6;
 text-align : center;
 margin : 50px;
 font-family : Verdana
}
div {
 color : #C3C48D;
 background : #D1EFB5;
 width : 400px;
 border : 3px black solid;
}
h1 {
 margin : 80px;
 border : 2px #928C6F;
 background : #EDEBA0;
}
li {
 text-align : left;
}
img {
 filter: drop-shadow(10px 10px 4px #D1EFB5);
}
