body {
 background : #D3FAD6;
 text-align : center;
 margin : 50px;
 font-family : Verdana
}
p {
 color : #C3C48D;
 background : #D1EFB5;
 width : 400px;
}
h1 {
 margin : 80px;
 border : 2px #928C6F;
 background : #EDEBA0;
}
li {
 text-align : left;
}
img {
 filter: drop-shadow(10px 10px 4px #928C6F);
}
